In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
farakka_data = pd.read_csv('Lithology_data/clip_farakka.txt')
farakka = pd.DataFrame(farakka_data)

In [3]:
farakka

       FID  IDENTITY_   Litho  xx    Shape_Leng    Shape_Area
0        0   SASI1134  pa____  pa  6.385604e+04  1.348826e+08
1        1   SASI1170  mtpu__  mt  2.467384e+04  2.413643e+07
2        2   SASI1196  mt____  mt  9.934210e+04  1.221268e+08
3        3   SASI1200  mt____  mt  8.761628e+04  1.718087e+08
4        4   SASI1201  mt____  mt  7.078859e+05  4.015614e+09
...    ...        ...     ...  ..           ...           ...
1407  1407  HIMAL1448  vb____  vb  2.901862e+04  1.371334e+07
1408  1408     IND201  sumx__  su  3.319492e+07  8.358544e+11
1409  1409   CHN33568  sush__  su  9.614567e+05  4.180746e+09
1410  1410   HIMAL618  smshmt  sm  1.174065e+06  1.919033e+09
1411  1411   HIMAL935  pa____  pa  7.315090e+05  2.354452e+09

[1412 rows x 6 columns]

In [4]:
total_area = sum(farakka['Shape_Area'])
total_area

1928927743487.8032

In [5]:
farakka.sort_values('xx', axis = 0)

     FID IDENTITY_   Litho  xx     Shape_Leng    Shape_Area
884  884  CHN45168  ig____  ig   35643.819635  4.605724e+07
883  883  CHN45081  ig____  ig   99710.629542  2.027622e+08
765  765  CHN43372  ig____  ig   29730.450622  2.842827e+07
882  882  CHN44879  ig____  ig   83642.095024  1.351959e+08
770  770  CHN43407  ig____  ig  230021.784828  4.397050e+08
..   ...       ...     ...  ..            ...           ...
112  112     BGD92  wb____  wb    3534.053459  5.972265e+05
110  110     BGD67  wb____  wb   25893.094188  6.479268e+06
558  558   IND1840  wb____  wb   77825.077265  1.535025e+08
11    11  SASI1248  wb____  wb   11756.807102  3.064535e+06
111  111     BGD77  wb____  wb    2735.255157  3.202303e+05

[1412 rows x 6 columns]

In [6]:
# one way to calculate area of each rock type, but not most efficient
ice_and_glaciers = farakka.loc[farakka['xx'] == 'ig', 'Shape_Area'].sum()
metamorphic_rocks = farakka.loc[farakka['xx'] == 'mt', 'Shape_Area'].sum()

In [7]:
rock_types = ['su', 'ss', 'sm', 'py', 'sc', 'ev', 'mt', 'pa', 'pi', 'pb', 'va', 'vi', 'vb', 'ig', 'wb', 'nd']

In [8]:
litho = {}
for x in rock_types:
    litho[x] = farakka.loc[farakka['xx'] == x, 'Shape_Area'].sum()
    
litho

{'su': 883010044165.9683,
 'ss': 127796678660.58548,
 'sm': 122650264282.60649,
 'py': 0.0,
 'sc': 25247601740.81341,
 'ev': 0.0,
 'mt': 253637138773.23526,
 'pa': 54411308504.4707,
 'pi': 111987206.78299998,
 'pb': 1211602798.67238,
 'va': 3079720.70432,
 'vi': 102260617.55844,
 'vb': 457676126295.84326,
 'ig': 2084086145.354,
 'wb': 960442314.9089029,
 'nd': 25122260.2985}

In [9]:
sum(litho.values())

1928927743487.8025

In [10]:
# check that sum of litho values is same as total area
total_area

1928927743487.8032

In [11]:
from numpy import array
rock_type_area = array([litho[x] for x in litho])/sum(litho.values())
rock_type_area

array([4.57772484e-01, 6.62527039e-02, 6.35846857e-02, 0.00000000e+00,
       1.30889308e-02, 0.00000000e+00, 1.31491260e-01, 2.82080595e-02,
       5.80567142e-05, 6.28122439e-04, 1.59659724e-06, 5.30142292e-05,
       2.37269710e-01, 1.08043764e-03, 4.97915133e-04, 1.30239509e-05])

In [12]:
# check that array matches manual calculation
print(litho['su']/total_area)

0.45777248377865515

##### From Syvitski and Milliman, 2007:

1. For basins composed principally of hard, acid plutonic and/or high-grade metamorphic rocks, we assigned L p 0.5. The database contains 122 river basins, including the shield terrains from northeast Canada, Africa, Australia, Scandinavia, east South America, and India. Type basins include the Sag- uenay (Canada), Manzanares (Venezuela), Herbert (Australia), Congo/Zaire, and Muonio Alv (Swe- den). Globally, 23% of the land surface is covered in acid plutonic rocks, Precambrian basement, or high-grade metamorphic rocks (Du Ìˆrr et al., forth- coming).
2. For basins composed of mixed, mostly hard lithology, sometimes including shield material, we assigned L p 0.75 to 18 basins. Type basins include the Columbia, Zambezi, Chao Phraya, and Yenisei. Only 5% of the global land surface is covered with these hard mixed lithologies (Du Ìˆrr et al., forth- coming).
3. For basins composed of volcanic, mostly ba- saltic rocks (e.g., Tapti, India), or carbonate out- crops (e.g., Suwannee, United States), or mixture of hard and soft lithologies (Niger, Orinoco, Amazon), we assigned L p 1.0 to 112 basins. Globally 17% of the earth surface is covered in volcanic and car- bonate rocks (Du Ìˆ rr et al., forthcoming).
4. For basins characterized by a predominance of softer lithologies but having a significant area of harder lithologies, we assigned L p 1.5 to 65 ba- sins. Type examples include the Yukon and the Lena, with their mixture of Precambrian granites, hard carbonates, and softer siliciclastic sedimen- tary rocks.
5. The largest category with 165 L p 2 basins, is reserved for fluvial systems draining a significant proportion of sedimentary rocks, unconsolidated sedimentary cover, or alluvial deposits. Type basins include the Mississippi, Orange, Danube. Fully 50% of the earth surface is covered in these softer sedimentary materials (Du Ìˆ rr et al., forthcoming).
6. Four basins in the database are identified as having an abundance of exceptionally weak ma- terial, such as crushed rock (e.g., Waipaoa or Waiapu, New Zealand; Eel, United States) or loess deposits (e.g., Huanghe, China), and merit an L p 3 designation. Only 4% of the world is covered in these highly erodable lithologies (Du Ìˆ rr et al., forthcoming).

In [13]:
l_factor = [2, 2, 2, 1, 1, 1, 0.5, 0.5, 0.5, 0.75, 0.75, 1, 1, 0, 0, 0]

In [14]:
weighted_average = rock_type_area*l_factor
weighted_average
weighted_average.sum()

1.5059823789727569