In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
brahma_data = pd.read_csv('Lithology_data/clip_brahma.txt')
brahma = pd.DataFrame(brahma_data)

In [8]:
brahma

       FID  IDENTITY_   Litho  xx    Shape_Leng    Shape_Area
0        0   SASI1247  pa__mt  pa  4.606367e+04  8.433581e+07
1        1   SASI1256  mt____  mt  7.197060e+04  1.979824e+08
2        2   SASI1261  mtpu__  mt  2.486609e+05  9.007092e+08
3        3   SASI1285  mt____  mt  5.217638e+04  2.064544e+07
4        4   SASI1305  mtpu__  mt  2.600287e+05  8.032660e+08
...    ...        ...     ...  ..           ...           ...
1715  1715  HIMAL1443  smmxev  sm  1.361087e+05  6.867382e+08
1716  1716  HIMAL1446  smmxmt  sm  8.823971e+04  5.625200e+07
1717  1717  HIMAL1447  mtpu__  mt  1.139806e+05  1.025466e+08
1718  1718  HIMAL1450  smshfe  sm  5.488479e+04  1.423495e+08
1719  1719     IND201  sumx__  su  3.319492e+07  8.358544e+11

[1720 rows x 6 columns]

In [9]:
total_area = sum(brahma['Shape_Area'])
total_area

1475790980134.7498

In [10]:
brahma.sort_values('xx', axis = 0)

       FID IDENTITY_   Litho  xx     Shape_Leng    Shape_Area
843    843  CHN40316  ig____  ig  482334.514659  1.115624e+09
1003  1003  CHN40980  ig____  ig   59240.956590  7.926916e+07
988    988  CHN40922  ig____  ig   85180.864451  1.092163e+08
1318  1318  CHN42523  ig____  ig   71126.361322  9.851186e+07
1144  1144  CHN42194  ig____  ig   95180.516902  1.232283e+08
...    ...       ...     ...  ..            ...           ...
99      99    BGD125  wb____  wb    7299.759387  2.447790e+06
252    252    BGD680  wb____  wb    6933.497697  1.070878e+06
101    101    BGD127  wb____  wb    4740.680628  7.781583e+05
268    268    BGD755  wb____  wb    4899.109242  7.741954e+05
117    117    BGD154  wb____  wb    8982.115993  1.799801e+06

[1720 rows x 6 columns]

In [11]:
# one way to calculate area of each rock type, but not most efficient
ice_and_glaciers = brahma.loc[brahma['xx'] == 'ig', 'Shape_Area'].sum()
metamorphic_rocks = brahma.loc[brahma['xx'] == 'mt', 'Shape_Area'].sum()

In [12]:
rock_types = ['su', 'ss', 'sm', 'py', 'sc', 'ev', 'mt', 'pa', 'pi', 'pb', 'va', 'vi', 'vb', 'ig', 'wb', 'nd']

In [13]:
litho = {}
for x in rock_types:
    litho[x] = brahma.loc[brahma['xx'] == x, 'Shape_Area'].sum()
    
litho

{'su': 888161196555.0415,
 'ss': 74240560420.5433,
 'sm': 192599815061.3406,
 'py': 0.0,
 'sc': 12670557753.408108,
 'ev': 0.0,
 'mt': 135616571013.48488,
 'pa': 89628398419.0444,
 'pi': 3119223557.481892,
 'pb': 3615269822.199301,
 'va': 57216218716.814804,
 'vi': 1894107295.5757496,
 'vb': 1350493118.600953,
 'ig': 9758386630.1975,
 'wb': 5920181771.018463,
 'nd': 0.0}

In [14]:
sum(litho.values())

1475790980134.7517

In [15]:
# check that sum of litho values is same as total area
total_area

1475790980134.7498

In [16]:
from numpy import array
rock_type_area = array([litho[x] for x in litho])/sum(litho.values())
rock_type_area

array([0.60182045, 0.05030561, 0.13050616, 0.        , 0.0085856 ,
       0.        , 0.09189416, 0.06073245, 0.00211359, 0.00244972,
       0.03876987, 0.00128345, 0.0009151 , 0.00661231, 0.00401153,
       0.        ])

In [17]:
# check that array matches manual calculation
print(litho['su']/total_area)

0.6018204532419261

##### From Syvitski and Milliman, 2007:

1. For basins composed principally of hard, acid plutonic and/or high-grade metamorphic rocks, we assigned L p 0.5. The database contains 122 river basins, including the shield terrains from northeast Canada, Africa, Australia, Scandinavia, east South America, and India. Type basins include the Sag- uenay (Canada), Manzanares (Venezuela), Herbert (Australia), Congo/Zaire, and Muonio Alv (Swe- den). Globally, 23% of the land surface is covered in acid plutonic rocks, Precambrian basement, or high-grade metamorphic rocks (Du Ìˆrr et al., forth- coming).
2. For basins composed of mixed, mostly hard lithology, sometimes including shield material, we assigned L p 0.75 to 18 basins. Type basins include the Columbia, Zambezi, Chao Phraya, and Yenisei. Only 5% of the global land surface is covered with these hard mixed lithologies (Du Ìˆrr et al., forth- coming).
3. For basins composed of volcanic, mostly ba- saltic rocks (e.g., Tapti, India), or carbonate out- crops (e.g., Suwannee, United States), or mixture of hard and soft lithologies (Niger, Orinoco, Amazon), we assigned L p 1.0 to 112 basins. Globally 17% of the earth surface is covered in volcanic and car- bonate rocks (Du Ìˆ rr et al., forthcoming).
4. For basins characterized by a predominance of softer lithologies but having a significant area of harder lithologies, we assigned L p 1.5 to 65 ba- sins. Type examples include the Yukon and the Lena, with their mixture of Precambrian granites, hard carbonates, and softer siliciclastic sedimen- tary rocks.
5. The largest category with 165 L p 2 basins, is reserved for fluvial systems draining a significant proportion of sedimentary rocks, unconsolidated sedimentary cover, or alluvial deposits. Type basins include the Mississippi, Orange, Danube. Fully 50% of the earth surface is covered in these softer sedimentary materials (Du Ìˆ rr et al., forthcoming).
6. Four basins in the database are identified as having an abundance of exceptionally weak ma- terial, such as crushed rock (e.g., Waipaoa or Waiapu, New Zealand; Eel, United States) or loess deposits (e.g., Huanghe, China), and merit an L p 3 designation. Only 4% of the world is covered in these highly erodable lithologies (Du Ìˆ rr et al., forthcoming).

In [18]:
rock_types

['su',
 'ss',
 'sm',
 'py',
 'sc',
 'ev',
 'mt',
 'pa',
 'pi',
 'pb',
 'va',
 'vi',
 'vb',
 'ig',
 'wb',
 'nd']

In [19]:
l_factor = [2, 2, 2, 1, 1, 1, 0.5, 0.5, 0.5, 0.75, 0.75, 1, 1, 0, 0, 0]

In [20]:
weighted_average = rock_type_area*l_factor
weighted_average
weighted_average.sum()

1.684333383656902